# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# Data
*.zip
*.tar
*.tar.gz

# Cache
*.cache
.cache/

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp
.temp/
